<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <title>Document</title>
</head>

<body>
    <div class="beg-login-box">
        <header>
            <h1>后台登录</h1>
        </header>
        <div class="beg-login-main">
            <form action="demo/Login/login" class="layui-form" method="POST">
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
                    <input type="text" name="uname" lay-verify="username" autocomplete="off" placeholder="这里输入登录名" class="layui-input username">
                </div>
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
                    <input type="password" name="password" lay-verify="password" autocomplete="off" placeholder="这里输入密码" class="layui-input">
                </div>
                <!-- 验证码功能暂时不做 -->
                <!-- <div class="layui-form-item">
                    <div class="beg-pull-left" style="width: 130px;">
                        <label class="beg-login-icon">
                            <i class="layui-icon">&#xe642;</i>
                        </label>
                        <input type="text" name="captcha" lay-verify="captcha" autocomplete="off" placeholder="输入验证码" class="layui-input">
                    </div>
                    <div class="beg-pull-right">
                    <img src="/back/captcha" onclick="javascript:this.src='/back/captcha?tm='+Math.random()" title="单击刷新验证码" id="img_rand_code" alt="" style="cursor: pointer;">
                    src的来源在验证码功能实现块讲解
                    </div>
                </div> -->
                <!-- 验证码 -->
                <div class="layui-form-item">
                    <div class="beg-pull-left beg-login-remember">
                        <!-- <label>记住帐号？</label> -->
                        <!-- <input type="checkbox" name="rememberMe" value="false" lay-skin="switch" checked title="记住帐号"> -->
                    </div>
                    <div class="beg-pull-right">
                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="login">
                            <i class="layui-icon">&#xe650;</i> 登录
                        </button>
                    </div>
                    <div class="beg-clear"></div>
                </div>
            </form>
            <footer>
                <p> © 轻度紫</p>
            </footer>
        </div>
    </div>
    <script src="/static/layui/layui.js"></script>
    <!--导入layui.js-->
    <script src="/static/dialog.js"></script>
    <!--导入刚刚写的dialog.js-->
    <script>
        layui.use(['form', 'layer'], function() {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            //根据<input>标签中lay-verify="name"中的name进行输入格式的验证
            form.verify({
                username: function(value) {
                    if (value.length === 0 || $.trim(value).length === 0) {
                        return "登录名不能为空";
                    }
                },
                password: [/(.+){6,12}$/, '密码必须6到12位']
            });
            /*----------------------
            ----数据与后端交互部分-----
            ----具体可见（3）---------
            ----------------------*/
        });
    </script>
</body>

</html>